<div class="border p-1 mb-2">
  <div class="d-flex justify-content-center align-item-center p-2">
    <span class="me-auto"><%= restaurant.name %></span>
    <%= link_to "Delete", restaurant_path(restaurant), data: {turbo_method: :delete}, class:"btn btn-danger me-2" %>
    <%= link_to "Edit", edit_restaurant_path(restaurant), class: "btn btn-warning"%>
  </div>
</div>
